/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  display: flex;
  width: 100%;
  padding: 1rem;
  padding-inline: 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Card component styles */
.card-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  max-width: 300px;
  padding: 1rem;
  border: 1px solid black;
  height: 390px;
}

a {
  text-decoration: none;
  color: black;
}

.card-container figure img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.card-price {
  color: green;
  font-size: 1.5rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card-desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  box-orient: vertical;
  line-clamp: 2;
}

/* Products list container styles */
.products-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* Product page styles */
.product-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-container figure img {
  max-height: 60vh;
  object-fit: contain;
}

.product-image {
  border-right: 1px solid black;
  padding-inline: 2rem;
}

.product-price {
  color: green;
  font-size: 2.5rem;
  font-weight: bold;
}

.product-desc-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 2rem;
  max-width: 450px;
}

.product-desc h2 {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.add-btn {
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: green;
  color: white;
  max-width: 350px;
}

.add-btn:hover,
.add-btn:active,
.add-btn:focus {
  background-color: darkgreen;
  outline: none;
}

/* Media query for screen sizes less than 768px */
@media only screen and (max-width: 768px) {
  .product-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .product-image {
    border-right: none;
    padding-inline: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .product-image img {
    width: 100%;
  }

  .product-desc-container {
    max-width: 100%;
    padding-inline: 1rem;
  }
}
